
<div class="carousel-desktop">
	<div class="carousel-lower">
		<div class="lower-text">
			<p class="line-1">Spichlerz -</p>
			<p class="line-2">tradycyjne</p>
			<p class="line-3">jedzenie</p>
			<p class="line-4">Producent naturalnych konfitur, przetwor贸w i syrop贸w</p>
		</div>
		<div class="lower-background">
			<img id="carousel-bg" src="image/catalog/assets/cherry_bg.jpg" alt="cherry"/>
		</div>
	</div>
	<div class="carousel-upper">
		<div class="upper-slide active">
			<img src="image/catalog/assets/cherry.png" alt="cherry"/>
		</div>
		<div class="upper-slide">
			<img src="image/catalog/assets/honey.png" alt="honey"/>
		</div>
		<div class="upper-slide">
			<img src="image/catalog/assets/chocolate.png" alt="chocolate"/>
		</div>
		<div class="upper-slide">
			<img src="image/catalog/assets/currant.png" alt="currant"/>
		</div>
		<div class="upper-slide">
			<img src="image/catalog/assets/lemon.png" alt="lemon"/>
		</div>
	</div>
</div>

<div class="carousel-mobile">
	<div class="top">
		<div class="background">
			<img id="carousel-bg" src="image/catalog/assets/cherry_bg.jpg" alt="cherry"/>
		</div>
	</div>
	<div class="slider">
		<div class="slide">
			<img src="image/catalog/assets/cherry.png" alt="cherry"/>
		</div>
	</div>
	<div class="bottom">
		<div class="text-mobile">
			<p class="line-1">Spichlerz -</p>
			<p class="line-2">tradycyjne</p>
			<p class="line-3">jedzenie</p>
			<p class="line-4">Producent naturalnych konfitur,</p>
			<p class="line-4"> przetwor贸w i syrop贸w</p>
		</div>
	</div>
</div>