<div class="promotion-block">
	<div class="info">
		<p class="name">
			PROMOCJA
		</p>
		<p class="title">
			-10% rabatu z kodem
		</p>
		
		<a href="/sklep" class="link">
			<div id="promo-link" class="content">
				<p class="text">ZOBACZ PRODUKTY</p>
				<img src="image/catalog/assets/arrow_right.svg"/>
			</div>
		</a>
	</div>
	<div class="space"></div>
	<img src="image/catalog/assets/lemons_in_syrop.png"/>
</div>

<div class="promotion-block-mobile">
	<div class="info">
		<p class="name">
			PROMOCJA
		</p>
		<p class="title">
			-10% rabatu z kodem
		</p>
	</div>
	<img src="image/catalog/assets/lemons_in_syrop.png"/>
	<a href="/sklep" class="link">
			<div id="promo-link" class="content">
				<p class="text">ZOBACZ PRODUKTY</p>
				<img src="image/catalog/assets/arrow_right.svg"/>
			</div>
		</a>
</div>
