{% if payment_methods %}
{% for payment_method in payment_methods %}
{% set i = 0 %}
<div class="method posr df aic jcsb">
	<label class="radio df aic">
		<input type="radio" name="payment_method" value="{{ payment_method.code }}"{{(payment_method.code == code or (not code and not i)) ? ' checked'}} >
		<b></b>
		<span>
			{{ payment_method.title }}
			{% if payment_method.terms %}
			<span>({{ payment_method.terms }})</span>
			{% endif %}
		</span>
	</label>
</div>
{% endfor %}
{% endif %}