{{ header }}
<div id="error-not-found" class="container">
	<div class="not-found-page">

		<div class="element text">4</div>
		<div class="element image">

			<img src="image/catalog/assets/error_page.png"/>
			<div class="over">
				<div class="error">Ojej! Coś poszło nie tak.
				</div>
				<div class="description">
					<p>Nie znaleziono żądanej strony lub strona nie istnieje.</p>
					<p>Prosimy użyć menu lub opcji wyszukiwania w portalu.</p>
				</div>
			</div>
		</div>
		<div class="element text">4</div>

	</div>
</div>
{{ footer }}
