<div class="categories-list row">
	<div class="container">
		<a href="/konfitury">
			<img src="/image/catalog/assets/konfitury--2048x2048.png"/>
			<a href="/konfitury">KONFITURY</a>
		</a>
	</div>
	<div class="container">
		<a href="/mini40g">
			<img src="/image/catalog/assets/maluchy-2048x2048.png"/>
			<a href="/mini40g">MALUCHY W
				<br>SPICHLERZU</a>
		</a>
	</div>
	<div class="container">
		<a href="/miody">
			<img src="/image/catalog/assets/Miody-2048x2048.png"/>
			<a href="/miody">MIODY</a>
		</a>
	</div>
	<div class="container">
		<a href="/owoce-w-syropi">
			<img src="/image/catalog/assets/owoce-w-syropie-2048x2048.png"/>
			<a href="/owoce-w-syropie">OWOCE W
				<br>
				SYROPIE</a>
		</a>
	</div>
	<div class="container">
		<a href="/przetwory-warzywne">
			<img src="/image/catalog/assets/przetwory.jpg"/>
			<a href="/przetwory-warzywne">PRZETWORY
				<br>
				WARZYWNE</a>
		</a>
	</div>
	<div class="container">
		<a href="/syropy">
			<img src="/image/catalog/assets/syropy-2048x2048.png"/>
			<a href="/syropy">SYROPY</a>
		</a>
	</div>
	<div class="container">
		<a href="/zestawy-prezentowe">
			<img src="/image/catalog/assets/gift_packs.jpeg"/>
			<a href="/zestawy-prezentowe">ZESTAWY
				<br>
				PREZENTOWE</a>
		</a>
	</div>
</div>
