<div class="categories-carousel">

	<div class="content" id="carousel-content">
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
		<div class="slide">
			<div class="text">
				<p class="title">Konfitury</p>
				<a href="#" class="link">
					<div id="promo-link" class="content">
						<p class="text">DO SKLEPU</p>
						<img src="image/catalog/assets/arrow_right.svg"/>
					</div>
				</a>
			</div>
			<img src="image/catalog/assets/konfitures.png"/>
		</div>
	</div>
	<div class="pagination" id="carousel-pagination"></div>

</div>
<div class="categories-carousel-mobile">
	<img id="categories-carousel-mobile-slide" src="image/catalog/assets/mobile_categories_demo.png"/>
	<div>
		<p class="categories-carousel-mobile-active-slide-text">
			Konfitury
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Kremy i smarowidła
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Maluchy w Spichlerzu
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Miody
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Owoce w syropie
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Przetwory warzywne
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Syropy
		</p>
	</div>
	<div>
		<p class="categories-carousel-mobile-slide-text">
			Zestawy prezentowe
		</p>
	</div>
</div>